.container {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    font-size: 0.8em;
}

.header {
    display: none;
}

h2 {
  font-size: 2rem;
  margin-top: 1em; }

h3 {
  font-size: 1.5rem;
  margin-top: 1em; }

h4 {
  font-size: 1.1rem;
  font-weight: bold; }

a {
  color: #818a91; }

.noprint {
    display: none;
}

body {
    padding: -2em 0 0 0;
}

/* Disable Bootstrap's link display. */
@media print {
    a:link:after,
    a:visited:after {
        content: "" !important;
    }
}
